
#label {
	-fx-font-style: italic;
	-fx-font-family: Arial;
	-fx-font-size: 48px;
}

.main {
	-fx-background-image: url(../background.jpg);
	-fx-background-position: left-top;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}